.card {
    width: 256px;
    height: 256px;
    margin-bottom: 16px;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    perspective: 1000px;
}

.cardInner {
    border-radius: 8px;
    box-shadow: rgb(0,0,0,0.2) 4px 4px 8px 0px;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    font-size: 32px;
    transform-style: preserve-3d;
    position: relative;
}

.cardFront {

}

.cardBack {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    border-radius: 8px;
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.card__kanji {
    font-family: 'MS PGothic', Osaka, Arial, sans-serif;
    font-size: 108px;
    margin: 0px;
    text-align: center;
}

.card__translation {
    font-size: 32px;
    text-align: center;
    margin: 0px 8px 16px 8px;
}

.card__kunReading, .card__onReading {
    text-align: center;
    font-size: 18px;
    margin: 0px;
    margin-left: 8px;
}

.card__strokeOrder {
    filter: brightness(0.95);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}